<h2>Bucket Lists</h2>

<table class="table">
	<tbody>
	<% @lists.each do |list| %>
		<tr>
			<td>
				<%= link_to list.title, list_path(list) %> - last updated <%="#{time_ago_in_words(list.updated_at)} ago "%>
			</td>
		</tr>
	</tbody>
	<% end %>
</table>

<%= link_to 'Create new list', new_list_path, :class => 'btn btn-primary' %>